.dashicons-metapic {
	background: url('../images/logo.png') center center no-repeat;
}

#metapic-backdrop {
    background: rgba(60,73,81,.8);
    background: rgba(#3C4951,.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100150;
}